* {
  background: grey;
}
.top {
  display: flex;
  gap: 1rem;
  background-color: transparent;
}
.top > h2 {
  background-color: transparent;
}
.mainContainer {
  width: 16%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  justify-content: space-between;
}

.placeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.genrePosterFormat {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 10px;
  background: transparent;
}
.image {
  width: 120px;
  border-radius: 10px;
}

.genrePosterFormat > ul > h4 {
  border-bottom: 1px solid black;
  text-align: center;
}
.genrePosterFormat > ul > li {
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
}
ul,
li,
h4 {
  background: transparent;
}
button {
  width: 95%;
  cursor: pointer;
  padding: 5px;
  background: white;
}
.hidden {
  display: none;
}
